html{height: 100%;}
/* url(purperstarry.jpeg) no-repeat */
body
{ background: #c1912a40 ;
  /* background:#4e443c3c; */
  color: #656F57;
}

blockquote
{ background: #fffbfb;
  color: #656F57;
  border-color: #83B82E;
}

#main
{ /* background: #FFFFFF url(log.png) repeat-y; */
  color: #e65c17;
}

#links, #footer
{ background: #1d034b ;
  color: #FFFFFF;
  border-color: #200541;
}
/* url(linkfoot.png) */
#links a, #footer a, #links a:hover, #footer a:hover
{ background: transparent;
  color: #FFFFFF;
}

#logo
{ background: #FFFFFF url(logo.jpg) no-repeat;
  background-size: 100% 100%;
  color: #656F57;
  border-top-color: #656F57;
  border-bottom-color: #f2d21c;
}

#logo h2
{ background: transparent;
  color: rgb(242, 238, 184);
}

h1
{ background: transparent;
  color: #d4c113;
  border-color: #E1E1E1;
}

#menu
{ background: transparent;
  color: #656F57;
}

#menu li a
{ background: #240d4c;
  color: #FFFFFF;
}
/* #f4cc04; */
#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #f2d21c;
  color: #FFFFFF;
} 

#content, #column2, #column2 a
{ background: #FFFFFF;
  color: #222233;
  border-color: #656F57;
  box-shadow:#2c91ee
}

#column2 a:hover
{ background: #FFFFFF;
  color: #7040df;
  border-color: #83B82E;
}

.sidebaritem
{ background: #F9F9F9;
  color: #656F57;
  border-color: #E1E1E1;
}

.sbilinks li a, .sidebaritem a
{ /*background: transparent url(link_arrow.png) no-repeat left center;*/
  color: #656F57;
} 

.sbilinks li a:hover, .sidebaritem a:hover
{ /*background: transparent url(link_arrow_sel.png) no-repeat left center;*/
  color: #83B82E;
} 

input, textarea
{ background: #FFFFFF;
  color: #656F57;
  border-color: #E1E1E1;
}
